.search-results {
    margin-bottom: 40px;
}

.results-count {
    margin-left: 5px;
}

.file-link {
    cursor: pointer;
}

.file-path {
    line-height: 1.4em;
    display: inline-block;
    font-size: 0.9em;
    text-decoration: inherit;
}
