.search-results {
    margin-bottom: 40px;
}

.results-count {
    margin-left: 5px;
}

.file-link {
    cursor: pointer;
}

.file-path {
    line-height: 1.4em;
    display: inline-block;
    font-size: 0.9em;
    text-decoration: inherit;
}

.directory-path {
    line-height: 1.4em;
    display: inline-block;
}

.expandable-name {
    cursor: pointer;
    user-select: none;
}

clr-icon {
    flex-shrink: 0;
}

.label-info, .badge {
    margin-right: 0;
}

.hide-icon {
    margin: 0 5px;
    display: none;
}

.icon-badge {
    margin-left: 2px;

    clr-icon {
        width: 18px;
        height: 18px;
        margin-top: -6px;
        margin-right: 0;
        opacity: 0.6;
    }

    .badge {
        position: relative;
        margin-left: -12px;
        margin-bottom: -4px;
        height: 0.6rem;
        min-width: 0.6rem;
    }
}

clr-tree-node {
    &::ng-deep > .clr-tree-node-content-container:hover {
        .hide-icon {
            cursor: pointer;
            display: inline-block;
        }
    }
}
