<clr-modal [clrModalOpen]="modalOpen" (clrModalOpenChange)="close()" [clrModalSize]="'xl'" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">
        <app-path-text [path]="filename"></app-path-text>
        <div class="file-viewer-menu">
            <div class="btn-group btn-outline-primary btn-icon btn-sm">
                <button class="btn" (click)="openInWebBrowser()">
                    <clr-icon shape="pop-out"></clr-icon>
                    <span class="clr-icon-title">Open in Web Browser</span>
                </button>
            </div>
        </div>
        <div class="jump-lines-icons" *ngIf="highlightedRanges.length > 0">
            <span class="jump-counter">{{jumpedToLineIndex + 1}} of {{highlightedRanges.length}}</span>
            <div class="btn-group btn-outline-primary btn-icon btn-sm">
                <button class="btn" (click)="goToPreviousHighlight()">
                    <clr-icon shape="angle"></clr-icon>
                    <span class="clr-icon-title">Previous</span>
                </button>
                <button class="btn" (click)="goToNextHighlight()">
                    <clr-icon shape="angle down"></clr-icon>
                    <span class="clr-icon-title">Next</span>
                </button>
            </div>
        </div>
    </h3>
    <div class="modal-body">

        <clr-progress-bar clrLoop *ngIf="!fileLoaded"></clr-progress-bar>

        <div class="alert alert-danger" role="alert" *ngIf="error">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                    </div>
                    <span class="alert-text">Error: {{error?.error?.error || 'Unknown error'}}</span>
                </div>
            </div>
        </div>

        <ace #ace [hidden]="!fileLoaded" [mode]="highlightLanguage" [theme]="'chrome'" [value]="fileContent"
                  [disabled]="true" [config]="aceConfig"></ace>
    </div>
</clr-modal>
