<div class="main-container">
    <header class="header header-6">
        <div class="branding">
            <a class="nav-link">
                <clr-icon shape="wrench" class="is-solid"></clr-icon>
                <span class="title">Gitlab CE Tools</span>
            </a>
        </div>
        <div class="header-nav">
            <a class="nav-link nav-text">Projects</a>
            <a class="nav-link nav-text">Groups</a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="hard-disk"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <h4 class="dropdown-header">Active server</h4>
                    <a class="disabled" *ngIf="servers.length === 0" clrDropdownItem>No servers added yet!</a>
                    <a *ngFor="let server of servers" [class.active]="serversService.isActive(server.name)" clrDropdownItem>
                        {{ server.name }}
                        <div class="dropdown-buttons">
                            <button type="button" class="dropdown-icon-button" (click)="openEditServerModal(server)">
                                <clr-icon shape="pencil"></clr-icon>
                            </button>
                            <button type="button" class="dropdown-icon-button" (click)="removeServer(server)">
                                <clr-icon shape="trash"></clr-icon>
                            </button>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a clrDropdownItem (click)="openAddServerModal()">Configure new server</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            ...
        </div>
    </div>
</div>
