.dropdown-icon-button {
    background: none;
    border: none;
    padding: 0 2px;
    cursor: pointer;

    &:hover {
        color: #666;
    }

    > clr-icon {
        color: black;
    }
}

.dropdown-buttons {
    margin-left: 20px;
    float: right;

    > .dropdown-icon-button:not(:last-child) {
        margin-right: 10px;
    }
}

.caret-icon {
    right: 0.3rem !important;
    height: 0.8rem !important;
    width: 0.8rem !important;
}
