.search-controls-row {
    display: flex;
    flex-wrap: wrap;

    > * {
        margin-top: 0;
        margin-bottom: 15px;


    }

    > *:not(:last-child) {
        margin-right: 20px;
    }
}

.progress-bar-container {
    height: 2em;
}

.projects-select {
    width: 350px;
}

.project-item {
    display: flex;
    flex-direction: column;
    min-height: 3em;
    justify-content: center;

    > .project-name {
        line-height: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    > .project-group {
        line-height: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.75em;
        opacity: 0.7;
    }
}

clr-datalist-container::ng-deep {
    flex: none;

    > label, .clr-control-container {
        flex: none;
        max-width: 100%;
    }
}
