<app-server-not-selected-alert *ngIf="!server"></app-server-not-selected-alert>

<div *ngIf="server">
    <form class="clr-form" [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="clr-row">
            <div class="clr-col-12 search-controls-row">
                <clr-select-container>
                    <label for="group">Group</label>
                    <select clrSelect id="group" formControlName="group">
                        <option value="-1" selected>All</option>
                        <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
                    </select>
                </clr-select-container>
                <clr-input-container>
                    <label for="projectName">Project name</label>
                    <input clrInput type="text" id="projectName" formControlName="projectName">
                </clr-input-container>
                <clr-input-container>
                    <label for="searchText">Search text</label>
                    <input clrInput type="text" id="searchText" formControlName="searchText">
                </clr-input-container>
                <button type="submit" class="btn btn-icon btn-success">
                    <clr-icon shape="search"></clr-icon>
                    Search
                </button>
            </div>
        </div>
    </form>
</div>

<div class="progress-bar-container">
    <div class="progress loop" *ngIf="searchInProgress"><progress></progress></div>
</div>

<div *ngIf="searchResults && searchResults.length > 0" class="search-results">
    <clr-tree-node *ngFor="let searchResult of searchResults">
        <clr-icon shape="folder"></clr-icon>
        {{searchResult.project.name_with_namespace}} [{{searchResult.project.default_branch}}]
        <clr-tree-node *ngFor="let file of searchResult.fileSearchResults">
            <clr-icon shape="file"></clr-icon>
            {{file.filename}}
        </clr-tree-node>
    </clr-tree-node>
</div>
