.search-controls-row {
    display: flex;
    flex-wrap: wrap;

    > * {
        margin-top: 0;
        margin-bottom: 15px;


    }

    > *:not(:last-child) {
        margin-right: 20px;
    }
}

.progress-bar-container {
    height: 2em;
}

.search-results {
    margin-bottom: 40px;
}

.results-count {
    margin-left: 5px;
}

.file-link {
    cursor: pointer;
}
