<form [formGroup]="settingsForm" (ngSubmit)="save()" clrForm clrLayout="vertical">
    <clr-modal [clrModalOpen]="modalOpen" (clrModalOpenChange)="close()">
        <h3 class="modal-title">Settings</h3>
        <div class="modal-body">
            <div formGroupName="fileViewer">
                <div class="setting-section-title">File viewer</div>
                <clr-checkbox-wrapper>
                    <input clrCheckbox type="checkbox" formControlName="fullScreen" />
                    <label>Full screen window</label>
                </clr-checkbox-wrapper>
                <clr-checkbox-wrapper>
                    <input clrCheckbox type="checkbox" formControlName="wrapLines" />
                    <label>Wrap long lines</label>
                </clr-checkbox-wrapper>
            </div>
            <div formGroupName="search">
                <div class="setting-section-title">Search</div>
                <clr-checkbox-wrapper>
                    <input clrCheckbox type="checkbox" formControlName="rememberLastSearch" />
                    <label>Remember last search</label>
                </clr-checkbox-wrapper>
                <clr-radio-container clrInline class="setting-row">
                    <label>Results view</label>
                    <clr-radio-wrapper>
                        <input type="radio" clrRadio value="FLAT" formControlName="searchResultsView" />
                        <label>Flat</label>
                    </clr-radio-wrapper>
                    <clr-radio-wrapper>
                        <input type="radio" clrRadio value="TREE" formControlName="searchResultsView" />
                        <label>Tree</label>
                    </clr-radio-wrapper>
                    <clr-radio-wrapper>
                        <input type="radio" clrRadio value="COMPACT_TREE" formControlName="searchResultsView" />
                        <label>Compact tree</label>
                    </clr-radio-wrapper>
                </clr-radio-container>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="close()">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </clr-modal>
</form>
