clr-modal::ng-deep .modal-body-wrapper {
    height: 300px;
}

clr-tabs::ng-deep > ul {
    margin-top: 2px;
    margin-bottom: 24px;
}

.setting-row {
    margin-top: 4px;
    margin-bottom: 4px;
}

.history-limit-input, .btn-clear-history {
    margin: 0;
}
