clr-modal::ng-deep .modal-body-wrapper {
    height: 300px;
}

clr-tabs::ng-deep > ul {
    margin-top: 2px;
    margin-bottom: 24px;
}

.setting-row {
    margin-top: 4px;
    margin-bottom: 4px;
}

clr-input-container {
    margin-top: 8px;
    margin-bottom: 4px;

    &.control-no-margin {
        margin: 0;
    }
}
